<div class="team text-center">
  <!-- <div class="cover"></div> -->
  <div class="container">
      <div class="heading">
          <h3 class="wow">OUR TEAM</h3>
          <hr class="wow">
      </div>
      <div class="slider-cont">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let blog of blogs">
              <div class="card wow" style="width: 18rem;" (mouseenter)="showContactH($event)" (mouseleave)="hideContactH($event)">
                <div class="cover"></div>
                <img src="{{ blog.img }}" class="card-img-top" alt="...">
                <div class="card-body text-center" (mouseenter)="showContact($event)" (mouseleave)="hideContact($event)">
                  <h3>{{blog.title}}</h3>
                  <span>{{ blog.job }}</span>
                  <div class="contact">
                    <a href="#" title="Facebook">
                      <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="#" title="Twitter">
                      <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="#" title="Instagram">
                      <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#" title="Linkedin">
                      <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                  </div>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
      </div>
  </div>
</div>
