<div class="sevices">
  <div class="cover"></div>
  <div class="container">
    <div class="heading text-center">
      <h3 class="wow">OUR SERVICES</h3>
      <hr class="wow">
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="content text-center wow bounceInLeft">
          <div class="heading">
            <i class="fa-solid fa-user-plus"></i>
            <h4>Registration and license</h4>
          </div>
          <div class="desc">
            <p>for your business in UAE or start a whole new one. Our team of experts will guide you through the required documentation and help you register a license for your business. <a href="#">more</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content text-center wow bounceInUp">
          <div class="heading">
            <i class="fa-solid fa-headset"></i>
            <h4>Registration and license</h4>
          </div>
          <div class="desc">
            <p>for your business in UAE or start a whole new one. Our team of experts will guide you through the required documentation and help you register a license for your business. <a href="#">more</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content text-center wow bounceInRight">
          <div class="heading">
            <i class="fa-solid fa-box-open"></i>
            <h4>Registration and license</h4>
          </div>
          <div class="desc">
            <p>for your business in UAE or start a whole new one. Our team of experts will guide you through the required documentation and help you register a license for your business. <a href="#">more</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
