<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="content">
          <div class="heading">
            <h3 class="wow">ABOUT US</h3>
            <hr class="wow">
          </div>
          <div class="text">
            <ol>
              <li class="wow">
                <p>We at BABAK offer you a great opportunity to expand your business into the United Arab Emirates or open a totally new business to grab the many opportunities laying in the region market.</p>
              </li>
              <li class="wow">
                <p>BABAK offers provides you with the trade license registration, offices, admin support and legal consultation across all the stages of your business.</p>
              </li>
            </ol>
            <p class="wow">No matter what type of business you want to open in the United Arab Emirates; our team has vast experience and knowledge in the laws of UAE, and are always ready to deliver to you a ready-to-go business customized just how you want it so you can start working immediately.</p>

          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="img-cont">
          <div class="front wow">
            <img src="./assets/img/about-one.jpeg" alt="about BABAK">
          </div>
          <div class="back wow">
            <img src="./assets/img/about-two.jpeg" alt="about BABAK">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
