@import '../../../styles.scss';

.slide{
  position: relative;
  height: 975px;
  overflow: hidden;
  .slider-bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .shap-one{
    position: absolute;
    top: -180px;
    left: -626px;
    width: 86%;
    height: 166%;
    background: radial-gradient(38.86% 38.86% at 50% 50%, #f7941d 50%, rgba(26, 25, 29, 0) 100%);
  }
  .cover{
    position: absolute;
    background: rgba($color: #000000, $alpha: 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .img-cont{
    width: 36%;
    position: absolute;
    top: 350px;
    left: 8%;
    border-radius: 30px;
    animation: fadeInLeft;
    animation-duration: 3s;
    .cover{
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(90deg, #7b4a10 0%, rgba(255, 255, 255, 0.42) 140.91%);
      border-radius: 28px;
    }
    img{
      width: 100%;
      height: 100%;
      border-radius: 30px;
    }
  }
  .content{
    position: absolute;
    top: 350px;
    right: 8%;
    width: 44%;
    h3{
      text-transform: uppercase;
      line-height: 40px;
      color: #f7941d;
      animation: fadeInRight;
      animation-duration: 1s;
    }
    .bio{
      letter-spacing: 4px;
      color: #2cb674;
      animation: fadeInRight;
      animation-duration: 1.5s;
    }
    p{
      margin-bottom: 35px;
      font-size: 20px;
      font-weight: 200;
      line-height: 33px;
      margin-top: 16px;
      color: #d9d9d9;
      animation: fadeInRight;
      animation-duration: 2s;
    }
    a{
      padding: 9px 24px;
      background: unset;
      border: 10px solid;
      border-image-slice: 1;
      border-width: 1px;
      border-image-source: linear-gradient(to right, #2cb674, #f7941d);
      text-decoration: none;
      position: relative;
      margin-right: 18px;
      color: #FFF;
      display: inline-block;
      transition: all 1s ease-in-out;
      animation: fadeInRight;
      animation-duration: 3s;
      span{
        color: #c3c3c3;
      }
      .line {
        background: #FFF;
        position: absolute;
        transition: none;

        opacity:1;
        height:$line-size;
        -webkit-transform: scale(0); /* WebKit */
        -moz-transform: scale(0); /* Mozilla */
        -o-transform: scale(0); /* Opera */
        -ms-transform: scale(0); /* Internet Explorer */
        transform:scale(0);
      }
      .line:nth-child(1){
        -webkit-transform-origin: 100% 100%;
        -moz-transform-origin: 100% 100%;
        -o-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        width: 20%;
        bottom:0;
      }
       .line:nth-child(4){
        -webkit-transform-origin: 0 100%;
        -moz-transform-origin: 0 100%;
        -o-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
        width: 20%;
        top:$distance;
        right:0;
      }
      .line:nth-child(2){
        -webkit-transform-origin: 100% 100%;
        -moz-transform-origin: 100% 100%;
        -o-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        height:100%;
        bottom:0;
        left:$distance;
      }
      .line:nth-child(5){
        -webkit-transform-origin: 100% 0;
        -moz-transform-origin: 100% 0;
        -o-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        transform-origin: 100% 0;
        height:100%;
        bottom:0;
        right:$distance;
      }
      .line:nth-child(3){
        -webkit-transform-origin: 0 100%;
        -moz-transform-origin: 0 100%;
        -o-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
        width: 100%;
        top:$distance;
        left:$distance;
      }
      .line:nth-child(6){
        -webkit-transform-origin: 100% 0;
        -moz-transform-origin: 100% 0;
        -o-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        transform-origin: 100% 0;
        width: 100%;
        bottom:0;
        right:$distance;
      }
      &:hover{
        svg{
          left: 25px;
        }
      }
      &:hover{
       padding-right: 40px;
        // transition: width 1s ease-in-out;
      }
     &:hover >.line{
      -webkit-transform: scale(1); /* WebKit */
      -moz-transform: scale(1); /* Mozilla */
      -o-transform: scale(1); /* Opera */
      -ms-transform: scale(1); /* Internet Explorer */
      transform:scale(1);
        opacity:0;
        transition: all 1s;
      }
      &:hover >.line:nth-child(2),&:hover >.line:nth-child(5){
        transition-delay: $delay1;
      }
      &:hover >.line:nth-child(3),&:hover >.line:nth-child(6){
        transition-delay: $delay2;
      }
      svg{
        position: relative;
        left: 12px;
        transition: all 1s ease-in-out;
      }
    }
  }
}


